proyectos/avocado/.build
proyectos/avocado/build
proyectos/avocado/web_modules
proyectos/avocado/node_modules
proyectos/lazyLoad/.build
proyectos/lazyLoad/build
proyectos/lazyLoad/web_modules
proyectos/lazyLoad/node_modules