@import 'tailwindcss/dist/base.css';
@import 'tailwindcss/dist/components.css';
@import 'tailwindcss/dist/utilities.css';

/* *{
    outline: 1px dotted magenta;
} */
.avocado{
    border-radius: 10px;
    border: 1px solid limegreen;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}
.avocado:hover{
    background-color: rgb(182, 248, 226);
}

.image{
    border-radius: 50%;
}

.title{
    color: green;
    margin: 5px;
}

.price{
    font-weight: 600;
    padding: 5px;
}